/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /**
  * Desktop styling
  */

  table, td, th {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.belv-desk-month th {
    padding: 3px;
	background-color: #3498DB;
	color: #FFF;
	text-shadow: 1px 1px #000;
	border: 2px;
	text-align: center;
}
.belv-desk-month {
	font-size: 1.2em;
}

.belv-desk-days th {
	padding: 0;
	height: 30px;
	background-color: #2980B9;
	text-shadow: 1px 1px #000;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #efefef;
	width: 14.289%;
    color: #FFF;
}

.belv-desk-cell td {
    height: 120px;
	padding: 2px;
	vertical-align: top;
}

.belv-desk-blank {
	background-color: #f2f2f2;
}

#belv-mobile-calendar .belv-current-month,
#belv-mobile-calendar .belv-next-month,
#belv-mobile-calendar .belv-previous-month {
	font-size: 1.5em;
	font-weight: 500;
}

.belv-next-month:hover, .belv-previous-month:hover {
	cursor: pointer;
	text-decoration: underline;
	/*color: #2C3E52;*/
}

#belv-desk-calendar p {
    font-size: .9em;
    margin: .2em 0;
}

 /**
  * Mobile styling
  */
#belv-mobile-calendar {
    border: 0px;
}

#belv-mobile-calendar td {
    vertical-align: middle;
    border-left: 0;
    border-right:0;
    border-top: 1px solid lightgrey;
    border-bottom: 0;
    padding: 15px 10px 15px 10px;
}

.mobile-calendar-hr hr {
    margin: 0px 0;
}

#belv-mobile-body .image {
    position: relative;
    float: left;
    width: 110px;
 }

.month {
    position: absolute;
    text-align: center;
    bottom: 86px;
    font-size: 1em;
    width: 100%;
    font-family: sans-serif;
    color: #ECF0F1;
    padding: 0px;
    margin: 0px;
    font-weight: 500;
}

#belv-mobile-body .date {
    position: absolute;
    text-align: center;
    top: 22px;
    width: 100%;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    color: #2C3E52;
    padding: 0px;
    margin: 0px;
}

#belv-mobile-body .day {
    left: 0;
    position: absolute;
    text-align: center;
    top: 78px;
    width: 100%;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #2C3E52;
    padding: 0px;
    margin: 0px;
}
.mobile-calendar-time{
    font-size: 1.4em;
    font-weight: 200;
}

.mobile-calendar-event{
    font-size: 1.4em;
    font-weight: 300;
}

.calendar td {
	margin: 0px;
	padding: 0px;
}

.calendar-days {
	text-align:center;
}

@media screen and (min-width: 901px) {
	#belv-mobile-calendar{
		display: none;
	}
}

@media screen and (max-width: 900px) {
	#belv-desk-calendar{
		display: none;
	}
}

@media screen and (max-width: 650px) {
	.mobile-calendar-time {
		font-size: 1.2em;
	}
	.mobile-calendar-event {
		font-size: 1.2em;
	}
}

@media screen and (max-width: 450px) {
	#belv-mobile-body .image {
		width:100px;
	}
	#belv-mobile-body .date {
		font-size: 3em;
		top: 18px;
	}
	#belv-mobile-body .month {
		font-size: 1em;
		bottom: 78px;
	}
	#belv-mobile-body .day{
		font-size: 1em;
		top: 75px;
	}
}

@media screen and (max-width: 385px) {
	.mobile-calendar-time {
    	font-size: 14px;
	}
	.mobile-calendar-event {
    	font-size: 14px;
	}
	#belv-mobile-calendar td {
    	padding: 10px 4px 10px 4px;
	}
	#belv-mobile-body .image {
		width:80px;
	}
	#belv-mobile-body .date {
		font-size: 2em;
		top: 20px;
	}
	#belv-mobile-body .month {
		font-size: .8em;
		bottom: 4rem;
	}
	#belv-mobile-body .day{
		font-size: .8em;
		top: 65%;
	}
}

@media screen and (min-width: 800px) {
    .upcoming-events-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .upcoming-events-grid {
        grid-template-columns: 1fr;
	}
	.upcoming-event {
		margin: 1rem auto;
	}
	.upcoming-events-grid {
		margin: 0 0 1.5rem 0 !important;
	}
}

#upcoming-meetings {
	background: #fff;
}

#upcoming-meetings .homepage-wrapper {
	max-width: 70rem;
}

.upcoming-events-grid {
	grid-gap: var(--gutter);
    margin: 3rem 0 1.5rem 0;
    display: grid;
}

.upcoming-title p {
	margin: 0;
}

.upcoming-icon {
	margin-bottom: 1rem;
}

.upcoming-date {
	width: 120px;
	font-size: 4rem;
	margin: auto;
	border: 1px solid #ddd;
	border-bottom: 4px solid #ccc;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	line-height: 1;
	background: #eee;
}

.upcoming-month {
	width: 120px;
    font-size: 1.2rem;
    margin: auto;
    background: #A42B1E;
    color: white;
	border-bottom: 4px solid #631A12;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	padding-top: 2px;
}

.upcoming-day {
	font-size: 1.2rem;
	position: relative;
    top: -4px;
	font-weight: 500;
}